<div class="ui container">
    <p></p>

    <h2 class="ui header">
        <i class="check icon"></i>
        <div class="content">
            SIMPLE TODO LISTS
        <div class="sub header">For Ruby Garage</div>
        </div>
    </h2>

    <button class="ui labeled icon primary addnew button">
        <i class="add icon"></i>
        Add ToDo List
    </button>
        
</div>

<%= render 'add_new_modal' %>

<script>
    $('.addnew.modal').modal('attach events', '.addnew.button', 'show');
</script>