<div class="ui container">
    <p></p>

    <div class="cent">
    <h2 class="ui center aligned header">
        SIMPLE TODO LISTS
    </h2>
        Ruby Garage
    </div>
    <p></p>

    
<div class="cent">
    <button class="ui labeled icon primary addnew button">
        <i class="add icon"></i>
        Add ToDo List
    </button>
</div>        
</div>

<%= render 'add_new_modal' %>

<script>
    $('.addnew.modal').modal('attach events', '.addnew.button', 'show');
</script>