<div class="ui centered grid">

    <p></p>

    <h2 class="ui header">
        <i class="check icon"></i>
        <div class="content">
            SIMPLE TODO LISTS
        <div class="sub header">For Ruby Garage</div>
        </div>
    </h2>


    <div class="row">

        <%= link_to root_path do %>
            <button class="ui labeled icon primary button">
                <i class="add icon"></i>
                Add ToDo List
            </button>
        <% end  %>

    </div>

</div>